#OS junk files
[Tt]humbs.db
*.DS_Store
#Subversion files
.svn
.cvs

# Office Temp Files
~$*

# Custom
GruntFile.js
node_modules

# PHP Storm
.idea

#SASS
.sass-cache

#Node Modules
node_modules/*

#Data images
public/data/*

#IDE file
*/.idea/workspace.xml
*/.idea/tasks.xml